<!DOCTYPE html>

<html>
    <head>
        <title>Clock In - Dashboard</title>
    </head>

    <body>

        <h1>Study Dashboard</h1>

        <h2>Total Study Time</h2>
        <p>{{ total_study_time }} minutes</p>

        <h2>Study Time by Course</h2>
        {% for course in study_time_by_course %}
            <div>
                <p>Course: {{ course["name"] }}</p>
                <p>Total Study Time: {{ course["total_duration"] }} minutes</p>
            </div>
        {% endfor %}

    </body>
</html>